.main-box {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.left-bar {
  width: 128px;
  max-width: 128px;
  display: flex;
  margin-right: 6px;
  background-color: red;
}

.right-box {
  flex: 1;
  background-color: cadetblue;
  height: 100%
}