.main-box {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.left-bar {
  width: 128px;
  max-width: 128px;
  display: flex;
  border-right: 1px solid #F4F8F5;
  background-color: #B43F54;
}

.right-box {
  padding-left: 8px;
  flex: 1;
  background-color: #1E141F;
  height: 100%
}

element {
  --light-shades: #F4F8F5;
  --light-accent: #78849E;
  --main-color: #32A407;
  --dark-accent: #B43F54;
  --dark-shades: #1E141F;
}