<div class="message-box">
  <div class="header">
    <p class="title">{{message.sender}}</p>
    <p class="subtitle">{{message.id}}</p>
  </div>
  <div class="content">
    <p class="message">{{message.message}}</p>
  </div>
</div>

<!-- <mat-card>
  <mat-card-header>
    <mat-card-title>
      {{message.sender}}
      <mat-card-subtitle>
        {{message.id}}
      </mat-card-subtitle>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div>{{message.message}}</div>
  </mat-card-content>
</mat-card> -->